body {
    background-image: url(images/bg5.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.container-md {
  min-width: 200px;
  margin-top: 80px;
  font-weight: bold;
  font-size: 1rem;
  transition: .5s;
}
.grid-layouts{
  height: auto;
}
.bg {
  background-color: rgb(237, 154, 106);
  height: 40px;
}