body {
    background-image: url(images/bg5.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container-md {
  min-width: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px soolid white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  z-index: 1;
  margin-top: 100px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: .5s;
}

.row {
  height: 50px;
}

.bg {
  background-color: ghostwhite;
  border: 1px solid black;
  height: 40px;
}
